doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Simple Call To Action
  style.
    @media only screen and (max-width: 620px) {
    table[class=body] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
    }
    table[class=body] p,
    table[class=body] ul,
    table[class=body] ol,
    table[class=body] td,
    table[class=body] span,
    table[class=body] a {
    font-size: 16px !important;
    }
    table[class=body] .wrapper,
    table[class=body] .article {
    padding: 10px !important;
    }
    table[class=body] .content {
    padding: 0 !important;
    }
    table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
    }
    table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    }
    table[class=body] .btn table {
    width: 100% !important;
    }
    table[class=body] .btn a {
    width: 100% !important;
    }
    table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
    }
    }
    @media all {
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
    }
    }
table.body(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; background-color: #eaebed; width: 100%;' width='100%' bgcolor='#eaebed')
  tr
    td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;' valign='top') &nbsp;
    td.container(style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 600px; padding: 10px; width: 600px; Margin: 0 auto;' width='600' valign='top')
      .content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 600px; padding: 10px;')
        // START CENTERED WHITE CONTAINER
        span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') New Credit Card Request.
        table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style="\
        box-sizing: border-box;\
        mso-table-lspace: 0pt;\
        mso-table-rspace: 0pt;\
        background-color: #ffffff;\
        background-size:cover\
        " width='100%' bgcolor='#ffffff')
          tbody
            tr
              td
                table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt' width='100%')
                  tbody
                    tr
                      td
                        table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                        mso-table-lspace: 0pt;\
                        mso-table-rspace: 0pt;\
                        color: #000000;\
                        width: 600px;\
                        ' width='600')
                          tbody
                            tr
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              padding-top: 0px;\
                              padding-bottom: 0px;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='100%')
                                table.image_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                ' width='100%')
                                  tr
                                    td(style='\
                                    width: 100%;\
                                    padding-top: 18px;\
                                    padding-right: 27px;\
                                    padding-bottom: 60px;\
                                    padding-left: 27px;\
                                    ')
                                      div(align='center' style='line-height: 10px')
                                        img(src='cid:main_1' style='\
                                        display: block;\
                                        height: auto;\
                                        border: 0;\
                                        width: 207px;\
                                        max-width: 100%;\
                                        ' width='207')
                table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt' width='100%')
                  tbody
                    tr
                      td
                        table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                        mso-table-lspace: 0pt;\
                        mso-table-rspace: 0pt;\
                        color: #000000;\
                        width: 600px;\
                        ' width='600')
                          tbody
                            tr
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='41.666666666666664%')
                                table.image_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                ' width='100%')
                                  tr
                                    td(style='\
                                    width: 100%;\
                                    padding-right: 0px;\
                                    padding-left: 0px;\
                                    padding-top: 8px;\
                                    ')
                                      div(align='right' style='line-height: 10px')
                                        img(src='cid:cc' style='\
                                        display: block;\
                                        height: auto;\
                                        border: 0;\
                                        width: 63px;\
                                        max-width: 100%;\
                                        ' width='63')
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='33.333333333333336%')
                                table.text_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                word-break: break-word;\
                                ' width='100%')
                                  tr
                                    td(style='padding-top: 5px; padding-bottom: 5px')
                                      div(style='font-family: sans-serif')
                                        div(style='\
                                        font-size: 14px;\
                                        mso-line-height-alt: 16.8px;\
                                        color: #000000;\
                                        line-height: 1.2;\
                                        font-family: Arial, Helvetica Neue,\
                                        Helvetica, sans-serif;\
                                        ')
                                          p(style='margin: 0; font-size: 14px')
                                            span(style='font-size: 28px') New Credit Card Request
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='25%')
                                .spacer_block(style='\
                                height: 70px;\
                                line-height: 5px;\
                                font-size: 1px;\
                                ')
                table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt' width='100%')
                  tbody
                    tr
                      td
                        table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                        mso-table-lspace: 0pt;\
                        mso-table-rspace: 0pt;\
                        color: #000000;\
                        width: 600px;\
                        ' width='600')
                          tbody
                            tr
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='41.666666666666664%')
                                .spacer_block(style='\
                                height: 60px;\
                                line-height: 0px;\
                                font-size: 1px;\
                                ')
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='58.333333333333336%')
                                table.text_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                word-break: break-word;\
                                ' width='100%')
                                  tr
                                    td(style='padding-top: 5px; padding-bottom: 5px')
                                      div(style='font-family: sans-serif')
                                        div(style='\
                                        font-size: 14px;\
                                        mso-line-height-alt: 25.2px;\
                                        color: #016877;\
                                        line-height: 1.8;\
                                        font-family: Arial, Helvetica Neue,\
                                        Helvetica, sans-serif;\
                                        ')
                                          p(style='\
                                          margin: 0;\
                                          mso-line-height-alt: 27px;\
                                          ')
                                            span(style='font-size: 15px') CIF #{cif}
                table.row.row-4(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt' width='100%')
                  tbody
                    tr
                      td
                        table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                        mso-table-lspace: 0pt;\
                        mso-table-rspace: 0pt;\
                        color: #000000;\
                        width: 600px;\
                        ' width='600')
                          tbody
                            tr
                              td.column(style='\
                              mso-table-lspace: 0pt;\
                              mso-table-rspace: 0pt;\
                              font-weight: 400;\
                              text-align: left;\
                              vertical-align: top;\
                              padding-top: 50px;\
                              padding-bottom: 0px;\
                              border-top: 0px;\
                              border-right: 0px;\
                              border-bottom: 0px;\
                              border-left: 0px;\
                              ' width='100%')
                                table.divider_block(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                ' width='100%')
                                  tr
                                    td
                                      div(align='center')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='\
                                        mso-table-lspace: 0pt;\
                                        mso-table-rspace: 0pt;\
                                        ' width='100%')
                                          tr
                                            td.divider_inner(style='\
                                            width: 600px;\
                                            height: 26px;\
                                            left: 0px;\
                                            top: 383px;\
                                            background: linear-gradient(\
                                            315deg,\
                                            #3a9ca9 0%,\
                                            #095d6a 76.71%\
                                            );\
                                            ')

